{% extends 'save/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1>{{ title }}</h1>

<form action="{% url 'core:add_appeal' %}" method="post">
    <p><a href="{% url 'core:add_person' %}">Создать нового заявителя</a></p>
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit">Добавить</button>
</form>

{% endblock %}