{% extends 'save/layout.html' %}

{% block title %}{{ title }}{% endblock %}
{%block content %}
    <h2 style="display: inline-block">Обращения</h2>
    <p style="display: inline; margin-left: 3%"><a href="{% url 'core:add_appeal' %}">Создать новое обращение</a></p>
    <h2>Среднее количество вызванных служб: {{ average_amount }}</h2>
    <br>
    {% for appeal in appeals %}
        <h3><a href="{% url 'core:appeal' appeal.id %}">{{ appeal }}</a><span>   {{appeal.date|date:'j.m.o H:i:s '}} {{ appeal.date|timesince }} </span></h3>
        <span>Звонить: {{ appeal.status|yesno }}</span><br>

        <span style="font-size: 11px">
            {{ appeal.service.all|join:', '|upper }}
            {% for i in appeal.service.all %}
            {% empty %}
                <span style="font-size: 13px">Службы не назначены</span>
            {% endfor %}</span>
<hr>
    {% endfor %}
    <footer>
        <h3>Общее число обращений: {{ appeals|length }}</h3>
        {% include 'save/footer.html'%}
    </footer>
{% endblock %}