{% extends 'save/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ count }}</h1>
    <h3><a href="{% url 'core:appeals' %}">Обращения</a></h3>
    <h3><a href="{% url 'core:persons' %}">Заявители</a></h3>
    <h3><a href="{% url 'core:services' %}">Службы</a></h3>
{% endblock %}