{% extends 'save/layout.html' %}

{% block title %}{{ title }}{% endblock %}
{%block content %}
    <h2 style="display: inline-block">Заявители</h2>
    <p style="display: inline; margin-left: 3%"><a href="{% url 'core:add_person' %}">Создать нового заявителя</a></p>
    {% for person in persons %}
        {% if forloop.first %}
            <h3><span>{{ forloop.counter }}    </span><a href="{% url 'core:person' person.id %}" style="color: orangered">{{ person }}</a></h3>
        {% elif forloop.last %}
            <h3><span>{{ forloop.counter }}    </span><a href="{% url 'core:person' person.id %}" style="color: orangered">{{ person }}</a></h3>
        {% else %}
            <h3><span>{{ forloop.counter }}    </span><a href="{% url 'core:person' person.id %}">{{ person }}</a></h3>
        {% endif %}
    {% endfor %}
    <footer>{% include 'save/footer.html'%}</footer>
{% endblock %}