{% extends 'save/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h2>{{ title }}</h2>
    <h3>Заявитель: {{ person.full_name|lower|title }}</h3>
    <h3>Дата рождения: {{ person.birthdate|date }}</h3>
    <h3>Пол: {{ person.gender }}</h3>
    <h3>Номер телефона: {{ person.phone_number|default_if_none:'не указан' }}</h3>
    <h3>Состояние здоровья: {{ person.health_condition }}</h3>
    <h3>Фотография: {{ person.photo|default:'-' }}</h3>
{% endblock %}