{% extends 'save/layout.html' %}

{% block title %}{{ title }}{% endblock %}
{%block content %}
    <h2 style="display: inline-block">Службы</h2>
    <p style="display: inline; margin-left: 3%"><a href="{% url 'core:add_service' %}">Создать новую службу</a></p>
    {% for service in services %}
        <h3><a href="{% url 'core:service' service.id %}">{{ service }}</a></h3>
    {% endfor %}
    <footer>{% include 'save/footer.html'%}</footer>
{% endblock %}